:root{
    --cor-primaria:#C455A8;
    --cor-segundaria:#F3CDE8;
    --cor-fundo:#E481A1;
    --cor-texto: #FFFFFF;
    --cor-contraste:#C96984;
    --cor-botao:#fcf6f5;
}
{
  transition :backgroud-color- 0.8s ease;

}

.tema-escuro{
    --cor-primaria:#521440;
    --cor-segundaria:#8B3574;
    --cor-fundo:#A8458E;
    --cor-texto:#BDE0FE;
    --cor-contraste:#B64D9B;
    --cor-botao:#A2D2FF;

}
header {
    background-color:#631b51;
    color: #FFFFFF;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color:#945081;
    color: #0a0607;
    max-width: 900px;
    margin: 0 auto;
    padding: 16px;
}

article {
    display: flex;
}

img {
    width: 150px;
    height: 150px;
}

.autor {
    font-weight: bold;
}

footer {
    background-color: #C96984;
    color: #fcf6f5;
    text-align: center;
    padding: 1.5rem 1rem;
    margin-top: auto;
}

footer p {
    font-size: 0.9rem;
    margin: 0.3rem 0;
}


@media (max-width: 768px) {
    .card-conteudo {
        flex-direction: column; /* Transforma o card em coluna no celular */
    }

    .container-imagem {
        height: 250px;
    }
}
