header {
    background-color:#880D1E;
    color: #FFFFFF;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: #eb7589;
    color: #0a0607;
    max-width: 900px;
    margin: 0 auto;
    padding: 16px;
}

article {
    display: flex;
}

img {
    width: 250px;
    height: 150px;
}

.autor {
    font-weight: bold;
}

footer {
    background-color: #F26A8D;
    color: #fcf6f5;
    text-align: center;
    padding: 1.5rem 1rem;
    margin-top: auto;
}

footer p {
    font-size: 0.9rem;
    margin: 0.3rem 0;
}


@media (max-width: 768px) {
    .card-conteudo {
        flex-direction: column; /* Transforma o card em coluna no celular */
    }

    .container-imagem {
        height: 250px;
    }
}
