:root{
    --cor-primaria:#db708e;
    --cor-segundaria:#F4ACB7;
    --cor-fundo:#E481A1;
    --cor-texto: #FFFFFF;
    --cor-contraste:#93cbec;
    --cor-botao:#57aef5;
}

 *{ transition :backgroud-color- 0.8s ease;

}

.tema-escuro{
    --cor-primaria:#521440;
    --cor-segundaria:#3b1230;
    --cor-fundo:#A8458E;
    --cor-texto:#BDE0FE;
    --cor-contraste:#7174f8;
    --cor-botao:#A2D2FF;

}
header {
    background-color:var(--cor-primaria);
    color:var(--cor-contraste);
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color:var(--cor-fundo);
    color: var(--cor-contraste)
    max-width: 900px;
    margin: 0 auto;
    padding: 16px;
}

article {
    display: flex;
}

img {
    width: 150px;
    height: 150px;
}

.autor {
    font-weight: bold;
}

footer {
    background-color:var(--cor-segundaria);
    color:var(--cor-contraste);
    text-align: center;
    padding: 1.5rem 1rem;
    margin-top: auto;
}

footer p {
    font-size: 0.9rem;
    margin: 0.3rem 0;
}


@media (max-width: 768px) {
    .card-conteudo {
        flex-direction: column; /* Transforma o card em coluna no celular */
    }

    .container-imagem {
        height: 250px;
    }
}
